In [102]:
import pandas as pd
from pandas import json_normalize

In [133]:
import os
print("Directorio actual de trabajo:", os.getcwd())

Directorio actual de trabajo: c:\Users\chris\OneDrive\Documentos\MercadoPago_ETL\notebooks

In [135]:
# Cargar los datos JSON desde un archivo
data_prints = pd.read_json('../data/raw/prints.json', lines=True)

# Normalizar el campo anidado
data_prints = data_prints.join(json_normalize(data_prints['event_data']))

# Seleccionar y renombrar las columnas necesarias
data_prints = data_prints[['day', 'position', 'value_prop', 'user_id']]
data_prints.rename(columns={'value_prop': 'event_value_prop', 'position': 'event_position'}, inplace=True)

In [136]:
# Cargar los datos JSON desde un archivo
data_taps = pd.read_json('../data/raw/taps.json', lines=True)

# Normalizar el campo anidado
data_taps = data_taps.join(json_normalize(data_taps['event_data']))

# Seleccionar y renombrar las columnas necesarias
data_taps = data_taps[['day', 'position', 'value_prop', 'user_id']]
data_taps.rename(columns={'value_prop': 'event_value_prop', 'position': 'event_position'}, inplace=True)

In [137]:
data_pays = pd.read_csv('../data/raw/pays.csv')

In [106]:
data_prints

               day  event_position    event_value_prop  user_id
0       2020-11-01               0  cellphone_recharge    98702
1       2020-11-01               1             prepaid    98702
2       2020-11-01               0             prepaid    63252
3       2020-11-01               0  cellphone_recharge    24728
4       2020-11-01               1          link_cobro    24728
...            ...             ...                 ...      ...
508612  2020-11-30               0          send_money    50807
508613  2020-11-30               1             prepaid    50807
508614  2020-11-30               2    credits_consumer    50807
508615  2020-11-30               0               point     1487
508616  2020-11-30               0          send_money     9462

[508617 rows x 4 columns]

In [107]:
data_prints.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508617 entries, 0 to 508616
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   day               508617 non-null  object
 1   event_position    508617 non-null  int64
 2   event_value_prop  508617 non-null  object
 3   user_id           508617 non-null  int64
dtypes: int64(2), object(2)
memory usage: 15.5+ MB

In [108]:
data_prints.duplicated().sum()

0

In [109]:
data_prints[['day', 'event_value_prop', 'user_id']].duplicated().sum()

0

In [110]:
data_prints['user_id'].nunique()

87864

In [111]:
data_prints['day'] = pd.to_datetime(data_prints['day'], format='%Y-%m-%d')
print(f"{data_prints['day'].min()} - {data_prints['day'].max()}")

2020-11-01 00:00:00 - 2020-11-30 00:00:00

In [112]:
data_taps

              day  event_position    event_value_prop  user_id
0      2020-11-01               0  cellphone_recharge    98702
1      2020-11-01               2               point     3708
2      2020-11-01               3          send_money     3708
3      2020-11-01               0           transport    93963
4      2020-11-01               1  cellphone_recharge    93963
...           ...             ...                 ...      ...
50854  2020-11-30               2    credits_consumer    64149
50855  2020-11-30               1               point     3329
50856  2020-11-30               1  cellphone_recharge    77012
50857  2020-11-30               2  cellphone_recharge    14704
50858  2020-11-30               2           transport    93605

[50859 rows x 4 columns]

In [113]:
data_taps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50859 entries, 0 to 50858
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               50859 non-null  object
 1   event_position    50859 non-null  int64
 2   event_value_prop  50859 non-null  object
 3   user_id           50859 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.6+ MB

In [114]:
data_taps.duplicated().sum()

0

In [115]:
data_taps[['day', 'event_value_prop', 'user_id']].duplicated().sum()

0

In [116]:
data_taps['day'] = pd.to_datetime(data_taps['day'], format='%Y-%m-%d')
print(f"{data_taps['day'].min()} - {data_taps['day'].max()}")

2020-11-01 00:00:00 - 2020-11-30 00:00:00

In [117]:
resultado = pd.merge(data_prints, data_taps, on=['day', 'event_position', 'event_value_prop', 'user_id'], how='inner', suffixes=('_prints', '_taps'))
resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50859 entries, 0 to 50858
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               50859 non-null  datetime64[ns]
 1   event_position    50859 non-null  int64
 2   event_value_prop  50859 non-null  object
 3   user_id           50859 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.6+ MB

In [118]:
data_pays

          pay_date   total  user_id          value_prop
0       2020-11-01    7.04    35994          link_cobro
1       2020-11-01   37.36    79066  cellphone_recharge
2       2020-11-01   15.84    19321  cellphone_recharge
3       2020-11-01   26.26    19321          send_money
4       2020-11-01   35.35    38438          send_money
...            ...     ...      ...                 ...
756478  2020-11-30   17.76    74524          send_money
756479  2020-11-30  111.02    42594           transport
756480  2020-11-30    0.81     1338           transport
756481  2020-11-30   34.71     1338    credits_consumer
756482  2020-11-30   11.76    99962             prepaid

[756483 rows x 4 columns]

In [119]:
data_pays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756483 entries, 0 to 756482
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pay_date    756483 non-null  object
 1   total       756483 non-null  float64
 2   user_id     756483 non-null  int64
 3   value_prop  756483 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 23.1+ MB

In [120]:
data_pays.duplicated().sum()

0

In [121]:
data_pays[['pay_date', 'user_id', 'value_prop']].duplicated().sum()

0

In [122]:
data_pays['user_id'].nunique()

99605

In [86]:
data_pays['pay_date'] = pd.to_datetime(data_pays['pay_date'], format='%Y-%m-%d')
print(f"{data_pays['pay_date'].min()} - {data_pays['pay_date'].max()}")

2020-11-01 00:00:00 - 2020-11-30 00:00:00

In [88]:
data_pays.rename(columns={'pay_date': 'day', 'value_prop':'event_value_prop'}, inplace=True)
resultado_2 = pd.merge(data_prints, data_pays, on=['day', 'user_id', 'event_value_prop'], how='inner', suffixes=('_prints', '_pay'))
resultado_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18375 entries, 0 to 18374
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               18375 non-null  datetime64[ns]
 1   event_position    18375 non-null  int64
 2   event_value_prop  18375 non-null  object
 3   user_id           18375 non-null  int64
 4   total             18375 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 717.9+ KB

In [89]:
resultado_3 = pd.merge(data_prints, data_pays, on=['user_id', 'event_value_prop'], how='inner', suffixes=('_prints', '_pay'))
resultado_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549757 entries, 0 to 549756
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   day_prints        549757 non-null  datetime64[ns]
 1   event_position    549757 non-null  int64
 2   event_value_prop  549757 non-null  object
 3   user_id           549757 non-null  int64
 4   day_pay           549757 non-null  datetime64[ns]
 5   total             549757 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 25.2+ MB

In [90]:
resultado_4 = pd.merge(data_prints, data_pays, on=['user_id', 'event_value_prop'], how='left', suffixes=('_prints', '_pay'))
resultado_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718974 entries, 0 to 718973
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   day_prints        718974 non-null  datetime64[ns]
 1   event_position    718974 non-null  int64
 2   event_value_prop  718974 non-null  object
 3   user_id           718974 non-null  int64
 4   day_pay           549757 non-null  datetime64[ns]
 5   total             549757 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 32.9+ MB

In [91]:
agg_pays = data_pays.groupby(['user_id', 'event_value_prop']).agg(
    total_suma=pd.NamedAgg(column='total', aggfunc='sum'),
    conteo=pd.NamedAgg(column='user_id', aggfunc='count')
)

In [92]:
agg_pays

                            total_suma  conteo
user_id event_value_prop
1       cellphone_recharge       15.47       1
        credits_consumer         37.92       1
        link_cobro              137.14       1
        transport               100.89       1
2       credits_consumer         15.21       1
...                                ...     ...
100000  credits_consumer         17.73       1
        point                    96.02       1
        prepaid                  14.37       1
        send_money              149.34       3
        transport                16.46       2

[466812 rows x 2 columns]

In [124]:
comunes = list(set(data_prints['user_id'].tolist()) & set(data_pays['user_id'].tolist()))
print(f"Elementos comunes entre data_prints y data_pays: {len(comunes)}")

Elementos comunes entre data_prints y data_pays: 87526

In [126]:
# Convertir las columnas de user_id a conjuntos (sets)
set_data_prints = set(data_prints['user_id'])
set_data_pays = set(data_pays['user_id'])

# Encontrar los elementos únicos en cada conjunto
unicos_data_prints = list(set_data_prints - set_data_pays)
unicos_data_pays = list(set_data_pays - set_data_prints)

In [127]:
len(unicos_data_prints)

338

In [128]:
len(unicos_data_pays)

12079

In [129]:
set_data_taps = set(data_taps['user_id'])

# Encontrar los elementos únicos en cada conjunto
unicos_data_taps = list(set_data_taps - set_data_pays)
unicos_data_pays = list(set_data_pays - set_data_taps)

In [130]:
len(unicos_data_taps)

153

In [131]:
len(unicos_data_pays)

62701